$navHeight: 70px;

nav {
  display: flex;
  height: $navHeight;
  align-items: center;
  position: relative;
}

nav li a {
  color: rgb(248, 248, 252);
}

.navbar {
  justify-content: space-between;
  background-blend-mode: darken;
}

.navbar-nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.navbar-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.navbar-brand {
  margin-left: 4vw;
}

navItems {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 100;
  align-items: center;
  color: rgb(248, 248, 252);
  background: rgba(0, 0, 0, 0.75);
}

navItems li {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgb(248, 248, 252);
}

navItems li:hover {
  background: rgb(150, 150, 150);
  color: rgb(74, 89, 90);
}

navPrompt {
  display: flex;
  font-size: 20px;
  font-weight: 100;
  color: rgb(248, 248, 252);
  cursor: pointer;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-not-home {
  background: linear-gradient(45deg, #ec6ead, #3494e6);
  height: $navHeight;
}

loginPrompt {
  margin-top: 5px;
}

.user-profile-nav-item {
  margin-left: 8vw;
}

.user-profile-nav-item > * {
  display: inline;
}

.user-profile-nav-item .username {
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #206096;
}

.user-profile-nav-item .username:hover {
  color: #266fad;
}

@media screen and (min-width: 920px) {
  navItems {
    flex-direction: row;
    margin-top: -20px;
  }

  navItems li {
    margin-right: 100px;
  }

  navItems li:nth-child(3) {
    margin-left: 15px;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px !important;
  }

  navPrompt {
    position: absolute;
    right: 100px;
  }
}

@media screen and (max-width: 991px) {
  .navbar > * {
    margin-top: -8px;
  }

  .user-profile-nav-item > * {
    display: block;
  }

  .user-profile-nav-item .user-icon {
    display: none;
  }

  .search-box {
    // margin-left: -10%;
  }
}

@media screen and (max-width: 1080px) {
  .user-profile-nav-item .username {
    display: none;
  }
}
